/* CSS Document */

@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,700);

html {
	height: 100%; 
	font-family: 'Ubuntu', 'Lato', sans-serif;
}

*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

#wrapper {
	/* Center wrapper perfectly */
	width: 700px;
	height: 550px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -350px;
	margin-top: -275px;
}

.form-3 {
	font-weight: 400;
	
	/* Size and position */
	width: 600px;
	position: relative;
	margin: 20px auto 0px;
	padding: 10px;
	overflow: hidden;
	
    /* Styles */
	box-shadow: 
		inset 0 0 2px 1px rgba(255,255,255,0.08), 
		0 16px 10px -8px rgba(0, 0, 0, 0.6);
	border-radius: 0.4em;
	border: 1px solid #191919;
	background: #333;
}

.form-3 label, .form-5 label {
	/* Size and position */
	width: 50%;
	float: left;
	padding-top: 9px;

	/* Styles */
	color: #ddd;
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 1px;
	text-shadow: 0 1px 0 #000;
	text-indent: 10px;
	font-weight: 700;
	cursor: pointer;
}

.form-3 .field, .form-5 .field {
    position: relative; /* For the icon positioning */
}

.form-3 .field i, .form-5 .field i {
    /* Size and position */
    left: 0px;
    top: 0px;
    position: absolute;
    height: 36px;
    width: 36px;

    /* Line */
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 1px 0 0 rgba(0, 0, 0, 0.7);

    /* Styles */
    color: #777777;
    text-align: center;
    line-height: 42px;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    pointer-events: none;
}

.form-3 input[type=text], .form-3 input[type=password],
.form-5 input[type=text], .form-5 input[type=password] {
    font-size: 12px;
    font-weight: 400;
    text-shadow: 0 1px 0 rgba(255,255,255,0.8);
    /* Size and position */
    width: 100%;
    padding: 10px 18px 10px 45px;
	margin-bottom: 10px;

    /* Styles */
    border: 1px solid #000;
    box-shadow: 
        inset 0 0 5px rgba(0,0,0,0.1),
        inset 0 3px 2px rgba(0,0,0,0.1);
    border-radius: 3px;
    background: #1f2124;
    color: #fff;
    -webkit-transition: color 0.3s ease-out;
    -moz-transition: color 0.3s ease-out;
    -ms-transition: color 0.3s ease-out;
    -o-transition: color 0.3s ease-out;
    transition: color 0.3s ease-out;
	
	background: -moz-linear-gradient(#1f2124, #27292c);
	background: -ms-linear-gradient(#1f2124, #27292c);
	background: -o-linear-gradient(#1f2124, #27292c);
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#1f2124), to(#27292c));
	background: -webkit-linear-gradient(#1f2124, #27292c);
	background: linear-gradient(#1f2124, #27292c);
	box-shadow:
		0 1px 0 rgba(255,255,255,0.1);
}

.form-3 input[type=text]:hover ~ i, .form-3 input[type=password]:hover ~ i,
.form-5 input[type=text]:hover ~ i, .form-5 input[type=password]:hover ~ i {
    color: #52cfeb;
}

.form-3 input[type=text]:hover, .form-3 input[type=password]:hover, .form-3 label:hover ~ input[type=text], .form-3 label:hover ~ input[type=password],
.form-5 input[type=text]:hover, .form-5 input[type=password]:hover, .form-5 label:hover ~ input[type=text], .form-5 label:hover ~ input[type=password] {
	background: #27292c;
}

.form-3 input[type=text]:focus ~ i, .form-3 input[type=password]:focus ~ i,
.form-5 input[type=text]:focus ~ i, .form-5 input[type=password]:focus ~ i {
    color: #42A2BC;
}

.form-3 input[type=text]:focus, .form-3 input[type=password]:focus,
.form-5 input[type=text]:focus, .form-5 input[type=password]:focus {
	box-shadow: inset 0 0 2px #000;
	background: #494d54;
	border-color: #51cbee;
	outline: none; /* Remove Chrome outline */
}

.form-3 p:nth-child(3), .form-3 p:nth-child(4) {
	float: left;
	width: 50%;
}

.form-3 label[for=remember],
.form-5 label[for=remember] {
	width: auto;
	float: none;
	display: inline-block;
	text-transform: capitalize;
	font-size: 11px;
	font-weight: 400;
	letter-spacing: 0px;
	text-indent: 2px;
}

.form-3 input[type=checkbox],
.form-5 input[type=checkbox] {
	margin-left: 10px;
	vertical-align: middle;
}

.form-3 input[type=submit],
.form-5 input[type=submit] {
	/* Width and position */
	width: 100%;
	padding: 4px 4px;
  
	/* Styles */
	border: 1px solid #0273dd; /* Fallback */
	border: 1px solid rgba(0,0,0,0.4);
	box-shadow:
		inset 0 1px 0 rgba(255,255,255,0.3),
		inset 0 10px 10px rgba(255,255,255,0.1);
	border-radius: 3px;
	background: #38a6f0;
	cursor:pointer;
  
	/* Font styles */
	color: white;
	font-weight: 700;
	font-size: 15px;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.8);
}

.form-3 input[type=submit]:hover,
.form-5 input[type=submit]:hover { 
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.6);
}

.form-3 input[type=submit]:active,
.form-5 input[type=submit]:active { 
	background: #287db5;
	box-shadow: inset 0 0 3px rgba(0,0,0,0.6);
	border-color: #000; /* Fallback */
	border-color: rgba(0,0,0,0.9);
}

.no-boxshadow .form-3 input[type=submit]:hover,
.no-boxshadow .form-5 input[type=submit]:hover {
	background: #2a92d8;
}

.form-3:after,
.form-4:after,
.form-5:after {
	/* Size and position */
	content: "";
	height: 1px;
	width: 33%;
	position: absolute;
	left: 46%;
	top: 0;

	/* Styles */
	background: -moz-linear-gradient(left, transparent, #444, #b6b6b8, #444, transparent);
	background: -ms-linear-gradient(left, transparent, #444, #b6b6b8, #444, transparent);
	background: -o-linear-gradient(left, transparent, #444, #b6b6b8, #444, transparent);
	background: -webkit-gradient(linear, 0 0, 100% 0, from(transparent), color-stop(0.25, #444), color-stop(0.5, #b6b6b8), color-stop(0.75, #444), to(transparent));
	background: -webkit-linear-gradient(left, transparent, #444, #b6b6b8, #444, transparent);
	background: linear-gradient(left, transparent, #444, #b6b6b8, #444, transparent);
}

.form-3:before,
.form-4:before,
.form-5:before {
	/* Size and position */
	content: "";
	width: 8px;
	height: 5px;
	position: absolute;
	left: 60%;
	top: -7px;
	
	/* Styles */
	border-radius: 50%;
	box-shadow: 0 0 10px 8px #fff;
}

.form-3 p:nth-child(1):before,
.form-4 p:nth-child(1):before,
.form-5 p:nth-child(1):before {
	/* Size and position */
	content:"";
	width:500px;
	height:100px;
	position:absolute;
	top:0;
	left:178px;

	/* Styles */
	-webkit-transform: rotate(75deg);
	-moz-transform: rotate(75deg);
	-ms-transform: rotate(75deg);
	-o-transform: rotate(75deg);
	transform: rotate(75deg);
	background: -moz-linear-gradient(50deg, rgba(255,255,255,0.15), rgba(0,0,0,0));
	background: -ms-linear-gradient(50deg, rgba(255,255,255,0.15), rgba(0,0,0,0));
	background: -o-linear-gradient(50deg, rgba(255,255,255,0.15), rgba(0,0,0,0));
	background: -webkit-linear-gradient(50deg, rgba(255,255,255,0.15), rgba(0,0,0,0));
	background: linear-gradient(50deg, rgba(255,255,255,0.15), rgba(0,0,0,0));
	pointer-events:none;
}

.no-pointerevents .form-3 p:nth-child(1):before,
.no-pointerevents .form-5 p:nth-child(1):before {
	display: none;
}


.form-4 {
	font-weight: 400;
	
	/* Size and position */
	width: 600px;
	position: relative;
	margin: 0px auto 30px;
	padding: 4px;
	overflow: hidden;
	
    /* Styles */
	box-shadow: 
		inset 0 0 2px 1px rgba(255,255,255,0.08), 
		0 16px 10px -8px rgba(0, 0, 0, 0.6);
	border-radius: 0.4em;
	border: 1px solid #191919;
	background: #333;
}


.form-5{
	font-weight: 400;
	
	/* Size and position */
	width: 500px;
	position: relative;
	margin: 20px auto 0px;
	padding: 10px;
	overflow: hidden;
	
    /* Styles */
	box-shadow: 
		inset 0 0 2px 1px rgba(255,255,255,0.08), 
		0 16px 10px -8px rgba(0, 0, 0, 0.6);
	border-radius: 0.4em;
	border: 1px solid #191919;
	background: #333;
}

.form-5 p:nth-child(4),
.form-5 p:nth-child(5) {
	float: left;
	width: 50%;
}


/*styling the links to change from one form to another */
#wrapper p.change_link a {
	font-size:11px;
	display: inline-block;
	font-weight: bold;
	background: rgb(247, 248, 241);
	padding: 2px 6px;
	color: rgb(29, 162, 193);
	margin-left: 10px;
	text-decoration: none;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border: 1px solid rgb(203, 213, 214);
	-webkit-transition: all 0.4s linear;
	-moz-transition: all 0.4s  linear;
	-o-transition: all 0.4s linear;
	-ms-transition: all 0.4s  linear;
	transition: all 0.4s  linear;
}
#wrapper p.change_link a:hover {
	color: rgb(57, 191, 215);
	background: rgb(247, 247, 247);
	border: 1px solid rgb(74, 179, 198);
}
#wrapper p.change_link a:active{
	position: relative;
	top: 1px;
}

/** Styling both forms **/
#equipo, 
#login{
	position: absolute;
	width:100%;
}
#equipo{	
	z-index: 21;
	opacity: 0;
}
#login{
	z-index: 22;
}
#toequipo:target ~ #wrapper #equipo,
#tologin:target ~ #wrapper #login{
	z-index: 22;
	-webkit-animation-delay: .6s;
	-webkit-animation-timing-function: ease-in;
	-moz-animation-delay: .6s;
	-moz-animation-timing-function: ease-in;
	-o-animation-delay: .6s;
	-o-animation-timing-function: ease-in;
	-ms-animation-delay: .6s;
	-ms-animation-timing-function: ease-in;
	animation-delay: .6s;
	animation-timing-function: ease-in;
	-webkit-animation-name: scaleIn;
	-moz-animation-name: scaleIn;
	-ms-animation-name: scaleIn;
	-o-animation-name: scaleIn;
	animation-name: scaleIn;
}
#toequipo:target ~ #wrapper #login,
#tologin:target ~ #wrapper #equipo{
	-webkit-animation-timing-function: ease-out;
	-moz-animation-timing-function: ease-out;
	-o-animation-timing-function: ease-out;
	-ms-animation-timing-function: ease-out;
	animation-timing-function: ease-out;
	-webkit-animation-name: scaleOut;
	-moz-animation-name: scaleOut;
	-ms-animation-name: scaleOut;
	-o-animation-name: scaleOut;
	animation-name: scaleOut;
}

/** the actual animation, credit where due : http://daneden.me/animate/ ***/
.animate{
	-webkit-animation-duration: 0.5s;
	-webkit-animation-fill-mode: both;
	
	-moz-animation-duration: 0.5s;
	-moz-animation-fill-mode: both;
	
	-o-animation-duration: 0.5s;
	-o-animation-fill-mode: both;
	
	-ms-animation-duration: 0.5s;
	-ms-animation-fill-mode: both;
	
	animation-duration: 0.5s;
	animation-fill-mode: both;
}